.Heading {
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
}
.Paragraph {
    font-size: 1rem;
    font-weight: 550;
    width: 75%;
    margin: auto;
}

.Main {
    background-color: #D9D6D1cc;
    width: 90%;
    padding: var(--base-padding);
}