
.Heading {
  font-size: 2rem;
}

.CoffeeProperty {
  font-weight: 700;
}

.Reviews {
  margin: var(--base-margin);
}

.ReviewsHeading {
  font-size: 1.5rem;
  font-weight: 550;
}

.CoffeeInfo {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.FlavorProfile {
  display: inline-block;
  padding: 1rem;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  background-color: #999999;
}

.Properties {
  display: inline-block;
}