
.Heading {
  font-size: 2rem;
}

.CoffeeProperty {
  font-weight: 700;
}

.Reviews {
  margin: var(--base-margin);
}

.ReviewsHeading {
  font-size: 1.5rem;
  font-weight: 550;
}

.CoffeeInfo {
  display: flex;
  padding: 2rem;
}

.Properties {
  display: inline-block;
}

.Flavor {
  display: flex;
  justify-content: center;
}

.Square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  max-width: 500px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.CoffeeImage {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  min-height: -webkit-fill-available;
}