.Heading {
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
  }

.Paragraph {
    font-size: 1rem;
    font-weight: 550;
    margin: auto;
    width: 75%;
}

.Contributors {
    text-align: center;
    font-weight: 550;   
}

.Main {
    background-color: #D9D6D1cc;
    width: 90%;
    padding: var(--base-padding);
}