.NavBar {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #191715aa;
}

@media screen and (min-width: 610px) {
  .NavBar {
    flex-direction: row;
  }
}